body{
    background-color:rgb(216, 128, 13);
}
.main{
    /* width:2300px;
    height:420px;
    background-color:rgb(238, 105, 90);
    margin-top:290px;
    margin-left:20px;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%; */
    background-color: rgb(241, 227, 222);
    height: 600px;
    width: 1200px;
    margin-top: 100px;
    margin-left: 150px;
    border-radius: 80px;
}
.main-part_1{
    background-color: rgb(17, 4, 65);
    height: 400px;
    width: 400px;
    float: left;
    margin-top:-570px;
    margin-left:560px;
    border-radius:50%;
    border-style:solid;
    border-width:2px;
}
.main-part_2{
    background-color: rgb(216, 128, 13);
    height: 400px;
    width: 400px;
    float: left;
    margin-top:-530px;
    margin-left:200px;
    border-radius:50%;
    border-style:solid;
    border-width:2px;

}
.main-part_3{
    background-color: rgb(216, 128, 13);
    height: 400px;
    width: 400px;
    float: left;
    margin-top:-530px;
    margin-left:910px;
    border-radius:50%;
    border-style:solid;
    border-width:2px;
}
#content_1{
    float:left;
    margin-top:-475px;
    margin-left:715px;
    color: darkgoldenrod;
    font-size:15px;
}
#content_2{
    margin-top:-350px;
    margin-left:720px;
    color:rgb(221, 148, 13);
    font-size:15px;
}
